<html>
<head>
<meta charset="utf-8">
<title>周二</title>
</head>
<body>
{% load staticfiles %}
<link href="{%static "1.css"%}" type="text/css" rel="stylesheet" />
<div style="width:70%;margin:0 auto">
<div class="whole_header">
    <div class="nav">
        <div style="width: 1120px; margin: 0 auto">
            <a href="http://127.0.0.1:8000/" class="inner_logo">
                <img src="{%static "my_picture/0.jpg"%}" />
            </a>
            <div class="inner_nav1">
                <a href="http://127.0.0.1:8000/">首页</a>
                <a href="http://127.0.0.1:8000/jiemu/">节目</a>
                <a href="http://127.0.0.1:8000/zhubo/">主播</a>
                <a href="http://127.0.0.1:8000/qiang/">墙</a>
            </div>
            <div class="inner_nav2">
                <a href="http://127.0.0.1:8000/uparticle/">投稿</a>
                <a href="http://127.0.0.1:8000/music/">点歌</a>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
        <h1>周二</h1>
            <ul>
			<p>周二</p>
           {%for i in contacts%}
                <li>
				<a href='http://127.0.0.1:8000/jiemu/{{i.title}}'>{{i.title}}</a>
				<p>{{i.summary}}</p>
				<p>{{i.timestamp}}</p>
				</li>
                {% endfor %}
            </ul>
			<div class="pagination" style="width:70%;margin:0 auto">
						<span class="step-links">
						{% if contacts.has_previous %}
						<a href="?page={{ contacts.previous_page_number }}">上一页</a>
						{% endif %}
						
						<span class="current">
						<span style="font-weight:bold;color:red;">当前：第{{ contacts.number }}页 ，共有：{{ contacts.paginator.num_pages }}页</span>
						</span>
						{% if contacts.has_next %}
							<a href="?page={{ contacts.next_page_number }}">下一页</a>
						{% endif %}
						</span>
					</div>
</div>
<div class="footer">
    <div class="footer_inner">
        <div class="inner_link">
            <dl>
                <dt>友情链接</dt>
                <dd><a href="">合肥工业大学</a></dd>
            </dl>
            <dl>
                <dt>关于lightwave</dt>
                <dd><a href="">关于我们</a></dd>
                <dd><a href="">加入我们</a></dd>
                <dd><a href="">联系我们</a></dd>
            </dl>
            <dl>
                <dt>利益相关</dt>
                <dd><a href="">投稿须知</a></dd>
                <dd><a href="">版权声明</a></dd>
            </dl>
            <dl style="margin-right:150px; width:85px;">
                <dt>官方微信</dt>
                <dd><img src=""></dd>
            </dl>
            <dl style="margin-right:0; width:85px;">
                <dt>官方微博</dt>
                <dd><img src=""></dd>
            </dl>
        </div>
    </div>

</div>
    </body>
</html>